html {
	background:url('../img/background.jpg') no-repeat 50% 50%;
    min-height:100%;
    background-size:cover;
}

body {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	min-height:100%;
}

article {
	width: 75%;
	margin: auto;
	text-align: center;
	vertical-align: center;
}

h1 {
	font-size: 8em;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .75em;
	margin-bottom: 0;
	line-height: 1.15;
}

p {
	font-size: 2.5em;
	font-weight: 300;
	margin-top: 0;
	text-shadow: 1px 1px 1px #000;
}

a {
	background-color: #f0f0f0;
	color: #333;
	font-size: 1.5em;
	text-decoration: none;
	border-radius: 2px;
	padding: .5em 3.5em;
	text-transform: uppercase;
	width: 25%;
	height: 70px;
	line-height: 70px;

	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;

	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a:hover {
	background-color: #fff;

	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 1000px) {
	
	article {
		width: 85%;
	}

	a {
		padding: .5em 2.5em;
	}

}

@media screen and (max-width: 650px) {
	
	article {
		width: 95%;
	}

	a {
		font-size: 1.25em;
		padding: .25em 2em;
	}

}
